h1 {
  padding-left: 0.5rem;
}
h1 > a {
  color: white;
  text-decoration-color: hotpink;
}
h1 > a:active {
  color: white;
  text-decoration-color: hotpink;
}
h1 > a:visited {
  color: white;
  text-decoration-color: hotpink;
}
h1 > a:hover {
  color: white;
  text-decoration-color: darkgreen;
}

a,
a:visited,
a:active {
  color: hotpink;
  text-decoration-color: hotpink;
}
a:hover {
  color: darkgreen;
  text-decoration-color: darkgreen;
}
